
<div class="container pt-3">
    <div class="row">
        <div class="d-flex justify-content-center align-items-center pt-3 pb-2 mb-3">
          <div class="col-md-6">
            <div class="card">
                <h5 class="card-header">Featured</h5>
                <div class="card-body">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                      </div>
                      <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                      </div>
                      
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    want to register as expert?<a [routerLink]="['//register']">Register</a>

                  </div>
              </div>
          </div>
        </div>
    </div>
</div>