<div class="container pt-2">
  <div class="row">
    <div class="col-md-5">
        <div class="profile clearfix">                            
            <div class="image">
                <img src="../../../assets/photo-1574080913417-749f6fd852f1.jpeg" class="img-cover">
            </div>                            
            <div class="user clearfix">
                <div class="avatar">
                    <img src="../../../assets/photo-1574080913417-749f6fd852f1.jpeg" class="img-thumbnail img-profile">
                </div>                                
                <h2>Martin maoth</h2>                                
                <div class="actions">
                    <div class="btn-group">
                        <button class="btn btn-default btn-sm tip btn-responsive" title="" data-original-title="Send message"><span class="glyphicon glyphicon-envelope glyphicon glyphicon-white"></span> Picture</button>
                        <button class="btn btn-default btn-sm tip btn-responsive" title="" data-original-title="Recommend"><span class="glyphicon glyphicon-share-alt glyphicon glyphicon-white"></span> Cover</button>
                    </div>
                </div>                                                                                                
            </div>                          
            <div class="info">
                <p><span class="glyphicon glyphicon-globe"></span> <span class="title">Address:</span>  St. Revutskogo, Kiev, Ukraine</p>                                    
                <p><span class="glyphicon glyphicon-gift"></span> <span class="title">Date of birth:</span> 14.02.1989</p>                                
            </div>                              
        </div>
    </div>

    <div class="col-md-5">
        <div class="card" style="width: 450px; height: 410px;;">
            <div class="card-header">
             <b>Education</b> 
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><button class="btn btn-default">Add Secondary School</button></li>
              <li class="list-group-item"><button class="btn btn-default">Add Collage/University</button></li>
              <li class="list-group-item">Vestibulum at eros  <button  class="btn btn-default"><mat-icon> edit</mat-icon></button></li> 
            </ul>
          </div>
    </div>

    <div class="col-md-5">
        <div class="card" style="width: 450px; height: 410px;;">
            <div class="card-header">
             <b>Work Experience</b> 
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><button class="btn btn-default">Add Experience</button></li>
              <li class="list-group-item">Vestibulum at eros  <button  class="btn btn-default"><mat-icon> edit</mat-icon></button></li> 
            </ul>
          </div>
    </div>

    <div class="col-md-5">
        <div class="card" style="width: 450px; height: 410px;;">
            <div class="card-header">
             <b>Skills</b> 
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><button class="btn btn-default">Add Skills</button></li>
              <li class="list-group-item">Vestibulum at eros  <button  class="btn btn-default"><mat-icon> edit</mat-icon></button></li> 
            </ul>
          </div>
    </div>
  </div>
</div>

