<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">My Profile</h1>
    <!-- <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar" class="align-text-bottom"></span>
        This week
      </button>
    </div> -->
  </div>
  <div class="container">
  <table class="table table-bordered" style="box-shadow: 4px 4px 4px 4px;color: gray;">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <mat-card class="example-card">
                            <mat-card-header>
                              <!-- <div mat-card-avatar class="example-header-image"></div> -->
                             
                            </mat-card-header>
                            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                            <!-- <mat-card-content>
                              <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                bred for hunting.
                              </p>
                             
                            </mat-card-content> -->
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            <mat-card-actions>
                              <button mat-button>LIKE</button>
                              <button mat-button>SHARE</button>
                            </mat-card-actions>
                          </mat-card>
                    </div>
                    <div class="col-md-5">
                        <mat-card class="example-card2">
                            <table>
                                <thead><h2>Talent</h2></thead>
                                <tr>
                                    <th>specialization</th><td>Diver</td>
                                </tr>
                                <tr>
                                    <th>work experiance</th><td>cpa</td>
                                </tr>
                                <tr>
                                    <th>year</th><td>two year</td>
                                </tr>
                            </table>
                          </mat-card>
                    </div>
                </div>
            </div>
  </table>
  </div>