<div class="container pt-2">
    <div class="row">
       <div class="col-md">
        <div class="card" style="width:450px ;margin:auto;">
            <div class="card-header">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle"> Salim Said<br>
            </div>
            <div class="card-body">
               
                <input type="text" class="form-control" placeholder="whats on your mind">
            </div>
            <div class="card-footer">
                <button class="btn btn-primary">send</button> <small><i class="btn btn-default" style="margin-left: 5%;">	<mat-icon>add_a_photo</mat-icon></i></small><small><i class="btn btn-default" style=""><mat-icon>add_photo_alternate</mat-icon></i></small>
            </div>
          </div>
       </div>
    </div>
    <br>
   
     <div class="row">
        <div class="col-md">
         <div class="card" style="width:450px ;margin:auto;">
             <div class="card-header">
                 <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle"> Salim Said<br>
             </div>
             <div class="card-body">
                <p>A caption</p>
                <img class="card-img-top" src="../../../assets/photo-1574080913417-749f6fd852f1.jpeg" alt="Card image cap"><br><br>
                 <input type="text" class="form-control" placeholder="write your comment">
                 <button class="btn btn-default">send</button>
             </div>
             <div class="card-footer">
                <button class="btn btn-default">comment</button>
             </div>
           </div>
        </div>
     </div>
</div>